html{
    background-image: url(ClockBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
article h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
body > h1{
  font-size: 65px;
  margin-left: 550px;
  color: white;
}
div#demo{
    text-align: center;
    font-size: 140px;
    font-weight: bold;
    border-style: solid;
    border-width: thick;
    border-radius: 20px;
    margin-left: 20px;
    width: 90%;
    transform: translateY(200px);
    float: left;
    background-color: whitesmoke;
}
div#demo2{
    text-align: center;
    font-size: 140px;
    font-weight: bold;
    border-style: solid;
    border-width: thick;
    border-radius: 20px;
    width: 90%;
    margin-left: 864px;
    transform: translateY(-361px);
    background-color: whitesmoke;
}
.row {
  width: 40%;
  padding: 0px;
  padding-top: 0px;
  transform: translateY(-190px);
  
}
#NewVest{
    width: 300px;
    margin-left: 550px;
    border: double 6px;
    border-color: #A7967E;
    background-color: white;
    
}


ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: auto;
  background-color: #851d30;
}

li {
  float: left;
  border-right: 1px solid rgb(196, 196, 196);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 11px 85px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(20, 20, 20);
}
li:last-child {
  border-right: none;
}
button{
    transform: translateX(600px);
}