@import url('https://fonts.googleapis.com/css?family=Anton|Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');


/*puts image on background*/
html{
    background-image: url(worldmapbackground.jpg);
}

/*centers the header*/
body > h1{
  margin-left: 550px;
  font-size: 75px;
  font-weight: bold;
  font-family: 'Odibee Sans' ;
}



h1{
    color: rgb(24, 22, 22);
}

/*gets rid of bullet points on nav bar*/
ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: auto;
    background-color: rgb(89, 96, 98);
    font-family: 'Odibee Sans' ;
    font-size: 30px;
}
  
li {
    float: left;
    border-right: 1px solid rgb(196, 196, 196);
}
/*centers the text*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 85px;
    text-decoration: none;
}

/*changes color when hover*/
li a:hover {
    background-color: rgb(20, 20, 20);
}
li:last-child {
    border-right: none;
}

/*edits size of website*/
#map{
    width: 800px;
    margin-top: 30px;
    border: groove 3px;
    border: #D35B3F outset 3px;
}
#maps{
    height: 100px;
    padding: 10px;
}

div#near{
    margin-left: 900px;
    transform: translateY(-80px);
}

input#search{
    margin: 10px;
    font-size: 40px;
    border-radius: 20px;
    width: 146px;
    height: 55px;
    border: rgb(11, 187, 172) outset 4px;
    background: #D35B3F;
    transform: translateY(-30px);
    color: white;
   
}

input#search:hover{
    transition: 2s;
    background: rgb(224, 228, 0);
    border: rgb(145, 54, 163) outset 4px;
    color: white;
    -webkit-transition: linear .5s;
    transition: linear .5s;
}
p.description{
    margin-left: 900px;
    transform: translateY(-130px);
    font-size: 45px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(216, 125, 105) 0px 0px 10px, rgb(216, 125, 105) 0px 0px 10px, rgb(216, 125, 105) 0px 0px 10px ;
}
/*moves button to center of page*/
button{
    transform: translateX(600px);
}
/*makes the footer visable*/
footer{
    width: auto;
    text-align: center;
    border-top: black 1px solid;
    font-weight: bolder;
    background:radial-gradient(circle, rgb(204, 208, 212)0%, rgb(89, 96, 98)100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
  }