html{
    background-image: url(metalbackground.jpg);
}
body > h1{
  margin-left: 550px;
  font-size: 65px;
  font-weight: bold;
}



h1{
    color: rgb(255, 255, 255);
    text-shadow: white 5px -5px 40px;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: auto;
    background-color: rgb(156, 155, 155);
}
  
li {
    float: left;
    border-right: 1px solid rgb(196, 196, 196);
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 85px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(20, 20, 20);
}
li:last-child {
    border-right: none;
}

#map{
    width: 800px;
    margin-top: 30px;
    border: groove 3px;
    border: #42728c outset 3px;

}
#maps{
    height: 100px;
    padding: 10px;
}

div#near{
    margin-left: 900px;
    transform: translateY(-80px);
}

input#search{
    margin: 10px;
    font-size: 40px;
    border-radius: 20px;
    width: 146px;
    height: 55px;
    border: rgb(255, 255, 255) outset 4px;
    background: #c9124f;
    transform: translateY(-30px);
    color: white;
}

input#search:hover{
    background: rgb(41, 117, 31);
    border: rgb(90, 84, 92) outset 4px;
    color: white;
    -webkit-transition: linear .1s;
    transition: linear .1s;
}
p.description{
    margin-left: 900px;
    transform: translateY(-130px);
    font-size: 45px;
    color: rgb(179, 174, 174);
    text-shadow: #42728c 0px 0px 10px, #42728c 0px 0px 10px, #42728c 0px 0px 10px ;
}

button{
    transform: translateX(600px);
}