@import url('https://fonts.googleapis.com/css?family=Anton|Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');



html{
    background-image: url(worldmapbackground.jpg);
}
body > h1{
  margin-left: 550px;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Odibee Sans' ;
  font-size: 80px;
}

img:hover{
    transform: scale(1.1);
}


h1{
    color: rgb(24, 22, 22);
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: auto;
    background-color: #42728c;
    font-family: 'Odibee Sans' ;
    font-size: 23px;
}
  
li {
    float: left;
    border-right: 1px solid rgb(196, 196, 196);
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 85px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(20, 20, 20);
}
li:last-child {
    border-right: none;
}

#map{
    width: 800px;
    margin-top: 30px;
    border: groove 3px;
    border: #42728c outset 3px;
    opacity: .8;
}
#maps{
    height: 100px;
    padding: 10px;
}

div#near{
    margin-left: 900px;
    transform: translateY(-80px);
}

input#search{
    margin: 10px;
    font-size: 40px;
    border-radius: 20px;
    width: 146px;
    height: 55px;
    border: rgb(224, 53, 23) outset 4px;
    background: rgb(233, 83, 75);
    transform: translateY(-30px);
    color: white;
    box-shadow: black 0px 0px 10px,  black 0px 0px 10px;
}

input#search:hover{
    background: rgb(214, 74, 66);
    border: rgb(145, 54, 163) outset 4px;
    color: white;
    -webkit-transition: linear .1s;
    transition: linear .1s;
}
p.description{
    margin-left: 900px;
    transform: translateY(-130px);
    font-size: 45px;
    color: rgb(0, 0, 0);
    text-shadow: #42728c 0px 0px 10px, #42728c 0px 0px 10px, #42728c 0px 0px 10px ;
}

button{
    transform: translateX(600px);
}
footer{
    width: auto;
    text-align: center;
    border-top: black 1px solid;
    font-weight: bolder;
    background:radial-gradient(circle, rgb(204, 208, 212)0%, rgb(89, 96, 98)100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
  }