@charset "utf-8";
.row:nth-child(3), .row:nth-child(4)   {
    display: flex;
    
    margin-top: 10px;
}
#col-1-3{
    background-color: rgb(235, 235, 235);
    text-align: left;
    border-radius:  1.5em 1.5em 1.5em ;
    box-shadow: 0px 0px 5px rgb(66, 66, 66);
    overflow: scroll;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
}

#col-1-3 p {
    padding: 10px;
    margin: 10px;
}
h1{
  text-align: center;  
}
nav {
    text-align: center;
}
html{
    background:linear-gradient(#3b6b7a,gray);
    height: 100%;
}
#col-1-1{
    text-align: center;
}
#col-1-6{
    text-align: center;
    background-color: rgb(235, 235, 235);
    border-radius: 1em 1em 1em ;
    box-shadow: 0px 0px 5px rgb(66, 66, 66);
    overflow: scroll;
    margin-left: 5px;
    font-size: 15px;
}
div.row {
    width: 100%;
 }
 div.row::after {
    clear:both;
    content:"";
    display: table;
 }
 /* Grid Columns Styles */
 div[id^="col"] {
    float: left;
 }
 #col-1-1 {width: 100%;}
 #col-1-2 {width: 50%;}
 #col-1-3 {width: 32%;}
 #col-1-5 {width: 20%;}
 #col-2-3 {width: 67%;}
 #col-1-4 {width: 25%;}
 #col-3-4 {width: 75%;}
 #col-1-6 {width: 16%;}
 /* Grid Spacing Styles */
 div.row, div[id^="col"]{
    box-sizing: border-box;
 }
 a{
    color: #828180;
    text-decoration: none;
 }
 a:active{
    color: #84856c;
 }
 a:hover{
     color: #3b6b7a;
 }
 