html{
  width: 100%;
  font-family: monospace;
}
body{
  background: radial-gradient(circle, rgb(241, 237, 255) 0%, rgb(180, 125, 123)100%)fixed;
  width: auto;
  margin: 0%;
}
header{
  background: url(camoback.png);
}
img#logo{
  transform: translateX(80px);
 

}
/*creates nav bar*/
ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    overflow: auto;
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgb(89, 96, 98) 100%);
    
  }
  
  li {
    float: left;
    border-right: 1px solid rgb(196, 196, 196); 
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 97.5px;
    text-decoration: none;
    transition: .8s;
  }
  li a:hover {
    background-color: rgb(114, 111, 111);
  }
  li:last-child {
    border-right: none;
  }
  li{
    background-color: rgb(160, 8, 8);
  }
  #action{
    background-color: rgb(13, 80, 119) ;
    transition: .9s;
  }
  #action:hover{
    background-color: rgb(156, 156, 156);
  }
   article{
      display: block;
    background-color: rgb(235, 235, 235);
    text-align:center;
    box-shadow: 0px 0px 5px rgb(66, 66, 66);
    overflow: hidden;
    font-size: 26px;
    border-radius: 40px;
    margin: 17px;
    box-shadow: -2px 2px 20px black inset;
}
a{
  text-decoration: none;
  color: black;
}

div.container {
  background-color: rgb(253,250,241);
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 40px;
  
}
div.container:hover{
  background: url(https://cdn.wallpapersafari.com/13/77/VrQDUS.jpg) fixed;
}
div.color-overlay {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background:  rgb(253,250,241);
  opacity: 1;
  position: absolute;
  box-shadow: -2px 2px 20px black inset;
}
h1{
  text-shadow: 2px 2px rgb(255, 9, 9);
  font-size: 50px;
  z-index: 1;
}
h2{
  text-align: center;
  font-size: 50px;
  border-top: white 10px double;
  border-bottom: white 10px double;
  margin: 0%;
}
.color-overlay:hover{
  background: white;
  opacity: .5;
  transition: 1s ease-in-out;
}
div.bass {
  background-color: rgb(253,250,241);
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 40px;
  
}
div.bass:hover{
  background: url(golds.png) fixed ;
}
div.treasure {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background:  rgb(253,250,241);
  opacity: 1;
  position: absolute;
  box-shadow: -2px 2px 20px black inset;
}
.treasure:hover{
  background: white;
  opacity: 0;
  transition: 1s ease-in-out;
}
div.sass {
  background-color: rgb(253,250,241);
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 40px;
  
}
div.sass:hover{
  animation: smooth 10s infinite;
}
div.mass {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background:  rgb(253, 247, 230);
  opacity: 1;
  position: absolute;
  box-shadow: -2px 2px 20px black inset;
}
.mass:hover{
  background: white;
  opacity: .1;
  transition: 1.5s ease-in-out;
}
section#cats{
  background-color: black;
  color: rgb(255, 0, 0);
}
section#kings{
  background: linear-gradient(180deg, rgb(89, 96, 98) 0%, rgba(255,253,245,1) 100%);
padding-top: 10px;

}
button{
  outline: none;
  padding: 25px;
  margin-right: 120px;
  margin-left: 120px;
  border-radius: 29px;
  font-size: 13px;
  color: white;
  background-color: rgb(250, 10, 10);
  font-weight: bold;
  transition: .5s;
}
button:hover{
  background-color: rgb(15, 142, 216);
}
#king span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#king span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#king:hover span {
  padding-right: 25px;
  
 
}

#king:hover span:after {
  opacity: 1;
  right: 0;

}
#queen span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#queen span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#queen:hover span {
  padding-right: 25px;
 
}

#queen:hover span:after {
  opacity: 1;
  right: 0;

}

#joker span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#joker span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#joker:hover span {
  padding-right: 25px;
 
}

#joker:hover span:after {
  opacity: 1;
  right: 0;

}
#ace span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#ace span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#ace:hover span {
  padding-right: 25px;
 
}

#ace:hover span:after {
  opacity: 1;
  right: 0;

}


footer{
  width: auto;
  text-align: center;
  border-top: black 3px solid;
  font-weight: bolder;
 
  background:radial-gradient(circle, rgb(241, 237, 255) 0%, rgb(88, 102, 119)100%);
}




@keyframes smooth{
0%{background-color:red ;}
20%{background-color: rgb(158, 86, 86) ;}
40%{background-color:rgb(238, 101, 22) ;}
60%{background-color:rgb(221, 140, 48) ;}
80%{background-color: rgb(212, 168, 46);}
100%{background-color:rgb(255, 241, 110) ;}

}